#custom-navbar {
  background-color: #222732;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.ninja-emoji {
  font-size: 24px;
  margin-right: 0.5rem;
  color: white;
}

.navbar-brand {
  color: #ADAFB7;
  text-decoration: none;
  font-weight: bold;
}


.navbar-brand:hover {
  color: #ADAFB7;
  text-decoration: none;
}
